{
  "presets": [
    ["es2015", { "modules": false }],
    ["env", {
      "targets": {
        "browsers": [ "last 2 versions", "safari >= 7" ],
        "node": true
      }
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      helpers: false,
      polyfill: false,
      regenerator: true
      }],
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-es2015-for-of",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-regenerator",
    "syntax-async-functions",
  ]
}
