{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current",
        "browsers": [ "last 2 versions", "safari >= 7", "> 5%" ]
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "angularjs-annotate",
    ["module-resolver", {
      "root": [
        "src/main/assets/modules",
        "src/main/assets/js",
        "src/main/assets/style",
        "node_modules"
      ]
      }],
    "lodash",
    ["@babel/plugin-transform-runtime", {
      "corejs": 3,
      "helpers": false,
      "regenerator": true
      }]
  ]
}
