node_modules
npm-debug.log
.npmrc
coverage/
.aws-config.json
awsconfig
/emails/dist
/public_gen
/tmp
/build
/.cache-loader
vendor/phantomjs/phantomjs

docs/AWS_S3_BUCKET
docs/GIT_BRANCH
docs/VERSION
docs/GITCOMMIT
docs/changed-files
docs/changed-files

# locally required config files
public/css/*.min.css

# Editor junk
.idea/
.vscode/
*.sublime-workspace
*.swp
*.iml

/data/*
/bin/*

conf/custom.ini
fig.yml
profile.cov
grafana
.notouch

dist/cli.*
dist/opennms.*
dist/docs

# Antora documentation
/docs/
/build/
/public/
